<div class="stream" id="stream"></div>
<div class="line editline" data-current-working="<%= @current_working.name %>">
  <p class="time"></p>
  <p class="current-working redt">/<%= @current_working.name %></p>
  <p class="name">&gt;</p>
  <input class="information edit" autofocus/>
</div>
