$text: #efefae;
$highlighttext: #ffffae;
$black: #262626;
$darkgrey: #3a3a3a;
$grey: #bcbcbc;
$highlight: #005f5f;
$selftext: #83a598;

$cream: #ffd7af;
$lightblue: #87afaf;
$green: #afaf00;
$red: #d75f5f;
$textred: #e3a786;
$orange: #dd6f48;
$pink: #d787af;
$gold: #ff8700;
$yellow: #ffaf00;
$darkgreen: #878700;
$turquoise: #87af87;
$blue: #5f8787;
$darkblue: #005f87;
$purple: #875f87;
$lighterblue: #83a598;
